@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #000;    
    margin: 0;
    overflow: hidden;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: auto;
  }

h1{
    text-align: center;
    color: rgb(160, 3, 3);
}

.div_clicavel{
    width: 200px;
    height: 200px;
    position: absolute;
    border-radius: 100%;
}

.box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

img{
    height: 250px;
    margin: 10px;
    border: 10px solid rgb(160, 3, 3);
    border-radius: 10px;
}

p{
    margin: 10px;
}